.portfolio{
        margin-left: 5%;
        margin-top: 5%;
        margin-right: 5%;
        display: flex;
        flex-direction: column;
        z-index: 1;   
}

.grid{
    display: flex;
    flex-direction: column; 
}
.rows{
    margin-right: 35px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
} 

.slider{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.images{
    width: 100%;
    /* height: 18rem; */
    display: block;
    height: 200px;
}



.portfolio-name{
    font-weight: 700;
    font-size: 22px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
}

.portfolio-name-hover{
    text-decoration: none;
    color: black;
}

.portfolio-name-hover:hover{
    color: #037fff;
    transition: 0.5s;
}

.portfolio-name:link{
    text-decoration: none;
}
.about-portfolio{
    font-size: 19px;
    margin-top:10px;
}

.port{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.protfolioImageHover {
    background: linear-gradient(to left, transparent 50%, white 50%);
    background-size: 200% 100%;
    opacity: 0.7;
    background-position:right bottom;
    transition:all 0.6s ease;
}

.protfolioImageHover:hover {
    background-position:left bottom;
}

.magnifier{
    font-size: 35px;
    color: white;
    background-color: black ;
    border-radius: 100%;
    margin-right: 10px;
    border-color: rgb(19, 15, 15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.1);
    font-size-adjust: 0.5;
}

.magnifier:hover{
    background-color: #037fff;
    border-color: #037fff;
    transition: 0.5s;
}

.portfolio-links{
    display: none;
}

.protfolioImageHover:hover  .portfolio-links{
    display: flex;
}

.image-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.my-image{

    width: 100%;
    /* height: 600px; */
}

.description{
    color: black;
    font-weight: 600;
    background-color: white;
    padding-top: 29px;
    /* height: 150px; */
    line-height: 1.5;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.inner-text{
    margin-left: 12px;
}

.img-slider{
    display: flex; 
}

.app-name{
    color: #037fff;
    font-size: 24px;
    font-weight: 800;
    height: 50px;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project{
    margin-left: 12px;
    padding-bottom: 20px;
    
}

.slick-prev:before, .slick-next:before {
    background-color: black;
    background: none;
    color: black;
}

.image-div .slick-prev:before, .image-div .slick-next:before {
    background-color: white;
    background: none;
    color: white;
}